<h4>Locks</h4> 
<div class="col-12">
	<div class="form-group">
		<button class="btn btn-light" 
			ng-repeat="x in locks.pin track by $index">
			<i class="fas" ng-class="{'fa-circle' : x == 'X', 'fa-dot-circle' : x != 'X'}"></i>
		</button>
	</div>
</div>
<div class="col-12">
	<div class="form-group">
		<span ng-repeat="x in [1,2,3]">
			<button class="btn btn-light btn-fix"  ng-click="locks.type(x)">{{x}}</button>
		</span>
	</div>
</div>
<div class="col-12">
	<div class="form-group">
		<span ng-repeat="x in [4,5,6]">
			<button class="btn btn-light btn-fix"  ng-click="locks.type(x)">{{x}}</button>
		</span>
	</div>
</div>
<div class="col-12">
	<div class="form-group">
		<span ng-repeat="x in [7,8,9]">
			<button class="btn btn-light btn-fix"  ng-click="locks.type(x)">{{x}}</button>
		</span>
	</div>
</div>
<div class="col-md-4 col-sd-12 form-group">
	<div class="form-group">
		<span>
			<button class="btn btn-light btn-fix" disabled>#</button>
		</span>
		<span>
			<button class="btn btn-light btn-fix" ng-click="locks.type(0)">0</button>
		</span>
		<span>
			<button class="btn btn-danger btn-fix"
				ng-click="locks.reset()">
				<i class="fas fa-redo"></i>
			</button>
		</span>
	</div>
</div>
<div ng-repeat="lock in locks.locks" class="col-12">
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<button class="btn" 
					ng-disabled="lock.status == 0"
					ng-class="{ 'btn-light' : lock.status == 0, 'btn-primary' : lock.status == 1, 'btn-secondary' : lock.status == 0, 'btn-success' : lock.status == 2, 'btn-danger' : lock.status == -2}"
					ng-click="locks.tryUnlock(lock)">
					<i class="fas fa-unlock"></i>
					<b>{{lock.name}}</b> {{lock.lastKnownState.stateName}}
				</button>
			</div>
		</div>
	</div>
</div>