<html>
	<head>
		<base href="./">
		<title>shrtnr</title>
		<link id="main_styles" rel="stylesheet" href="dist/css/styles.css" />
		<meta http-equiv = "refresh" th:content="${meta}" />
   	</head>
	<body>
		<form method="post" enctype="application/x-www-form-urlencoded" action="/shrtn">
			<div class="main">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h1>Lengthen my URL</h1>
						</div>
						<div class="col-12">
							<div class="row">
								<div class="col-2" th:switch="${link.image!=null}">
									<img src="" th:src="${link.image}" style="max-width: 120px">
								</div>
								<div class="col-4">
									<h5 th:text="${link.title}"></h5>
									<p th:text="${link.desc}"></p>
								</div>
								<div class="col-6">
									<h5>Click to visit this URL</h5>
									<a th:href="${link.url}"><span th:text="${link.url}"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div th:utext="${include}">
		</div>
	</body>
</html>
